<form ng-submit="add.addContact(contact)"

  <label class="label">Name</label>
  <p class="control">
    <input class="input" type="text"
      ng-model="contact.name"/>
  </p>

  <label class="label">Email</label>
    <p class="control has-icon has-icon-right">
      <input class="input" type="text"
        ng-model="contact.email"/>
    </p>

  <label class="label">Website</label>
    <p class="control has-icon has-icon-right">
      <input class="input" type="text"
        ng-model="contact.website"/>
    </p>

  <label class="label">Message</label>
    <p class="control">
      <textarea class="textarea"
        ng-model="contact.message"/>
    </p>

  <button class="button is-primary">Submit</button>

</form>
